version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: taskflow
      POSTGRES_PASSWORD: taskflow
      POSTGRES_DB: taskflow
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U taskflow"]
      interval: 2s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 2s
      timeout: 5s
      retries: 5

  scheduler:
    build:
      context: .
      dockerfile: Dockerfile.scheduler
    ports:
      - "8080:8080"
    environment:
      TASKFLOW_HTTP_PORT: "8080"
      TASKFLOW_POSTGRES_DSN: "postgres://taskflow:taskflow@postgres:5432/taskflow?sslmode=disable"
      TASKFLOW_REDIS_ADDR: "redis:6379"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  worker:
    build:
      context: .
      dockerfile: Dockerfile.worker
    environment:
      TASKFLOW_WORKER_ID: "worker-1"
      TASKFLOW_POSTGRES_DSN: "postgres://taskflow:taskflow@postgres:5432/taskflow?sslmode=disable"
      TASKFLOW_REDIS_ADDR: "redis:6379"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      scheduler:
        condition: service_started

volumes:
  postgres_data: {}
